<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="img-group.css" />
</head>
<body>

  <div class="bussiness-wrapper">
    <a class="business-item" href="/">
      <figure class="business-img">
        <img src="imgs/main-biz-pharmaceutical-cdmo@2x.jpg" alt="" />
      </figure>
      <h3>CDMO 사업</h3>
    </a>
    <a class="business-item" href="/">
      <figure class="business-img">
        <img src="imgs/main-biz-pharmaceutical-natural@2x.jpg" alt="" />
      </figure>
      <h3>천연물사업</h3>
    </a>
    <div class="business-item">
      <figure class="business-img">
        <img src="imgs/main-biz-pharmaceutical-pill@2x.jpg" alt="" />
      </figure>
      
    </div>
    <a class="business-item" href="/">
      <figure class="business-img">
        <img src="imgs/main-biz-pharmaceutical-complete@2x.jpg" alt="" />
      </figure>
      <h3>완전의약품사업</h3>
    </a>
    <a class="business-item" href="/">
      <figure class="business-img">
        <img src="imgs/main-biz-pharmaceutical-function@2x.jpg" alt="" />
      </figure>
      <h3>기능성 식품 사업</h3>
    </a>
    
    <a class="business-item" href="/">
      <div class="blue-rdw">
        <span class="blue-rd">R&D</span>
      </div>
    </a>
    <a class="business-item" href="/">
      <figure class="business-img">
        <img src="imgs/main-biz-pharmaceutical-rnd@2x.jpg" alt="" />
      </figure>
      <h3>연구개발</h3>
    </a>
    <a class="business-item" href="/">
      <figure class="business-img">
        <img src="imgs/main-biz-pharm-brochure.gif" alt="" />
      </figure>
      <h3>제작 브로슈어 다운로드</h3>
    </a>
  </div>
</body>
</html>