@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

:root{
    --black:#000;
    --white:#fff;
    --blue:#2d5fff;
   
}

body{
    margin:0;
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}


header{
    display: flow-root;
    margin: 2.5rem 11.875rem;

    h1{
        width: 244px;
        float: left;

        img{
            width: inherit;
        }
    }
    div{
        float:right;
    }
    nav{
           
        display: inline-block;

        ul{
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;

            li{
               
                
            }
            a{
                padding: 1.25rem;
                font-size: 1.125rem;
                font-weight: 700;
            }
            
        }
    }
   
}
main{

    .infomation{
        padding: 5rem;

        h2{
            font-size: 2.875rem;
            font-weight: 700;
            line-height: 3.25rem;
            margin-bottom: 2.5rem;
        }
        .pageing-wrap{  
            display: none   ;
            /* float: right; */
        }
        
        .info-list{
            padding: 1.25rem 3.75rem;
            border:3px solid var(--black);
            border-radius: 80px;

            a{
                width: 100%;
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: center;
                font-size: 1.25rem;
                
                strong{
                    padding:0 7.5rem 0 1.25rem;
                    border-right: 1px solid #ddd;
                }
                p{
                    padding-left: 1.875rem;
                    flex-grow: 2;
                }
                
            }
            
        }
    }
}