@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(/sr-only.css);
@import url(/default.css);
@import url(img-group.css);

:root{ 
  font-size: 1px;
  font-family: "Noto Sans KR", "Montserrat",sans-serif;
}

*,*::before,*::after{
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6{
  font: inherit;
  font-size: 1em;
  margin: 0;
}

body *, body *::before, body *::after{
  box-sizing: border-box;
}

a{
  text-decoration: none;  
  color: inherit;
}

button{ 
  background: transparent;
  border: none;
  cursor : pointer;
}

/* 헤더 */
header{
  display: flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  height: 127rem;
  align-items: center;
}

  .logo{
    width: 240rem;
    height: 30rem;
    padding-left: 40rem;
   }

  nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 0 15rem;
    
     li{
      display: inline-block;
      list-style: none;
      height: 127rem;
      line-height: 127rem;
      padding: 0 25rem;
      font-size: 18rem;
      font-weight: 700;
    }

    button{
      padding:0 15rem;
      height: 127rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }
  }


/* 메인 전체 */
.main-group{
  height: 1167rem;
  position: relative;
}

  /* 메인비주얼 영역 */
  .visual-img-container{
    width: 100%;
    height: 645rem;
    background: url(./imgs/KakaoTalk_Photo_2021-11-15-12-06-53.jpeg) center/ cover;
    display: flex;
    flex-direction: column nowrap;
    text-align: center;
    justify-content: center;
    align-items: center;

    .main-content{
      color: var(--white-color);
      /* padding-bottom: 50rem; */
      
      .main-title{
        font-size: 72rem;
        font-weight: 700;
        font-family: var(--montserrat-font);
      }
      .sub-content{
        font-size: 22rem;
        font-weight: 400;
        line-height: 1.65;
        margin-top: 30rem;
      }
      .view-more{
        color: var(--white-color);
        font-size: 13rem;
        font-weight: 700;
        font-family: var(--montserrat-font);
        margin-top: 68rem;
        border-bottom: 2rem solid var(--white-color);
        padding: 0 0 4rem;
      }
    }
    /* 비주얼 영역 버튼 컴포넌트 */
    .btnwrapper{
      --original-color: var(--white-color);
      font-size: 20rem;
      border: 3rem solid var(--original-color);
      width: 47rem;
      height: 47rem;
      padding: 0 1rem;
      position: absolute;
      top: auto;
      opacity: 50%;
      border-radius: 50%;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-evenly;
      cursor: pointer;

      span{
        color: var(--original-color);
      }
      span.hidden{
        display: none;
      }
    }
    .btnL{
      left: 50rem;
      transition: all 0.17s;
    }
    .btnR{
      right: 50rem;
      transition: all 0.17s;
    }
    .btnL:hover, .btnR:hover {
      --changed-color: var(--white-color);
      width: 100rem;
      border-radius: 25rem;
      opacity: 100%;
      border-color: var(--changed-color);
      /* transition: all 0.17s; */

      & >span{
        color: var(--changed-color);
      }
      & > .hidden{
        display: block;
      }
    }
      /* 비주얼 영역 슬라이드 스와이퍼 */
    .swiper-group{
      width: 169rem;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      position: absolute;
      top: 579rem;

      .swiper-item{
        width: 28rem ;
        height: 6rem;
        background-color: var(--white-color);
        opacity: 50%;
        cursor: pointer; 
      }
    }
  } 

/* 뉴스영역 */


.main-news{
  padding: 120rem 0 120rem;
}
 
  .move-button-container{
    margin: 0 6.5%;
    position: relative;

    p{
      font-size: 48rem;
      font-weight: 700;
      line-height: 1.25;
      letter-spacing: -2px;
      }
  }

.move-button-group{
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 0;
  span{
    font-size: 22rem;
    color: #ddd;
    letter-spacing: 3rem;
  }
  .present-page{
    color: #000;
  }
}


.news-container{
  margin-top: 60rem;
  button{
    margin: 0 auto;
    width: 87%;
    height: 113rem;
    border: 3rem solid #000;
    border-radius: 100rem;
    padding-left:  80rem;
    font-size: 20rem;
    letter-spacing: -0.64px;
    line-height: 1.4;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    .new-notice{
      box-sizing: border-box;
      width: 240rem;
      height: 100%;
      font-weight: 700;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
    }
  }
}

.news-contents-wrapper{
  font-weight: 400;
  height: 100%;
  width: 100%;
  padding-left: 40rem;
  position: relative;

  .news-contents{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 760rem;
    text-align: left;
  }

  span{
    font-size: 25rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 100rem;
  }
}

/* 사업소개 영역 */

.business-introduction-wrapper{
  padding: 120rem 0 120rem;
  background-color: #f9f9f9;
  width: 100%;
  min-height: 1136rem;
}

.business-introduction, .bussiness-wrapper{
   margin: 0 6.5%;
}

.business-title{
  font-weight: 700;
  line-height: 1;
}

.business-title-medicine{
  color: #2d5fff;
  display: inline-block;
  position: relative;
  padding-top: 24rem;
  font-size: 56rem;
}
.business-title-trade{
  color: #ccc;
  display: inline-block;
  margin-left: 48rem;
  position: relative;
  padding-top: 24rem;
  font-size: 56rem;
}

.business-title-medicine::before{
  content: "";
  display: block;
  width: 9rem;
  height:  9rem;
  border-radius: 50%;
  background-color: #2d5fff;
  position: absolute;
  left: 50%;
  top:0;
  transform: translateX(-50%);
}

.business-title-trade::before{
  content: "";
  display: block;
  width: 9rem;
  height:  9rem;
  border-radius: 50%;
  background-color: #ccc;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.business-introduction-content{
  margin-top: 40rem;
  font-size: 20rem;
  line-height: 1.8;
  letter-spacing: -0.5rem;
  font-weight: 400;
}
.business-view-more{
  display: inline-block;
  padding: 20rem 30rem;
  border: 3rem solid #ddd;
  margin-top: 30rem;
  transition: all 0.17s;
  span{
    font-size: 15rem;
    line-height: 1;
    font-weight: 700;
  }
}

.business-view-more:hover{
  border-radius: 30px;
  border-color: #2d5fff;;
}

.bussiness-wrapper{
  margin-top: 78rem;
}